Package: com.rpetrich.iconrenamer
Section: Tweaks
Maintainer: BigBoss <bigboss@thebigboss.org>
Architecture: iphoneos-arm
Version: 1.2.4
Depends: firmware (>= 4.0), mobilesubstrate (>= 0.9.5101), preferenceloader (>= 2.2.2)
Description: Rename icons from your SpringBoard
Name: Icon Renamer
Homepage: http://rpetri.ch/cydia/iconrenamer/
Depiction: http://rpetri.ch/cydia/iconrenamer/
Author: Ryan Petrich <rpetrich@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
dev: rpetrich
Tag: purpose::extension
