Package: com.rpetrich.iconrenamer
Section: Tweaks
Maintainer: BigBoss <bigboss@thebigboss.org>
Architecture: iphoneos-arm
Version: 1.2.1
Depends: firmware (>= 4.0), mobilesubstrate, preferenceloader (>= 2.0)
Description: Rename icons from your SpringBoard
Name: Icon Renamer
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=iconrenamerData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=iconrenamerData
Author: Ryan Petrich <rpetrich@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
dev: rpetrich
Tag: purpose::extension
